@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  /* background-colors */
  --bg-main: rgb(215,219,225);
  --bg-secondary: rgb(94,134,35);
  --bg-white: white;

  /* font-colors */
  --font-main: rgb(55,125,189);
  --font-secondary: rgb(94,134,35);
  --font-white: white;

  /* box shodow */
  --box-shadow-main: 0 0 1rem rgba(0, 0, 0, 0.5); 
}

*{
  box-sizing: border-box;
}

body,
html{
  font-family: "Roboto", sans-serif; 
  min-height:100vh;
  min-width: 320px;
  background: var(--bg-main);
  color: var(--font-main);
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  padding:0;
}

.container {
  padding: 2rem;
  text-align: center;
}

h1 {
  margin-bottom:4rem;
}

.row-images {
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

.image {
  width: 300px;   
  margin: 1rem;  
  box-shadow: var(--box-shadow-main); 
  box-sizing: content-box;
  transform: scale(1);
  transition: transform ease-in-out 0.5s;
}

.image:hover {
  transform: scale(1.5);
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(45deg, var(--font-secondary) 30% , var(--font-main) 70% );
  padding:0.5rem;
  z-index: 10;
}